html {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #354657;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 2rem;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
}
.personal_data {
  font-size: 0.7rem;
}
label {
  display: inline-block;
  width: 190px;
}
.personal_data_item {
  margin-bottom: 1rem;
}
input {
  padding: 0.4rem;
  width: 384px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}
.button {
  border: 2px solid #946fd3;
  background-color: white;
  color: #946fd3;
  font-size: 16px;
  padding: 0.5rem 0;
  width: 206px;
  box-sizing: border-box;
  border-radius: 50px;
  margin: 70px 30px 70px 0;
  transition: all 0.7s;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #946fd3;
  border-color: white;
}
ul {
  margin: 0;
  padding: 0;
}
.nav__items a {
  color: #354657;
  background-color: #f0f2f5;
  text-decoration: none;
}
.nav__items {
  list-style: none;
}
